bin/
obj/
.idea/
/packages/
riderModule.iml
/_ReSharper.Caches/
PaymentService/appsettings.Development.json
appconfig
appconfig.json
appconfig.*.json
PaymentService/appsettings.json
PaymentService/appsettings.json
